<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GENGA Surfer - Einstellungen</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <main class="home">
        <h1>EINSTELLUNGEN</h1>

        <p>Hier kommen später deine Einstellungen hin.</p>

        <a href="/">Zurück zum Menü</a>
    </main>

</body>
</html>
